@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root {
  font-size: 16px;
  --grey-100: #f8f9fa;
  --grey-200: #e9ecef;
  --grey-500: #adb5bd;
  --grey-700: #41474e;
  --grey-800: #343a40;
  --grey-900: #212529;
  --grey-900-dark: #121417;
  --error: #e5383b;
  --error-dark: #ba181b;
  --success: #38b000;
  --success-dark: #008000;
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-corner {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(200, 200, 200, 0.6);
  border-radius: 5px;
}
html {
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.nav-link {
  background-color: black;
  color: white;
  font-weight: 500;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  cursor: pointer;
}
.nav-link:hover,
.nav-link:active {
  background-color: var(--grey-900);
}
.flex-container {
  display: flex;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
form {
  margin-top: 2rem;
}
.form-input {
  margin: 1rem 0;
}
.text-black {
  color: black;
}
.text-grey-900 {
  color: var(--grey-900);
}
.text-grey-800 {
  color: var(--grey-800);
}
.text-grey-700 {
  color: var(--grey-700);
}
.text-center {
  text-align: center;
}
.border-grey-500 {
  border: 1px solid var(--grey-500);
}
.bg-grey-100 {
  background-color: var(--grey-100);
}
main {
  min-height: 100vh;
}
.btn {
  margin: 0.5rem 0;
  background-color: var(--grey-900);
  color: white;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 0.25rem;
  border: none;
  font-weight: 500;
}
.btn:hover,
.btn:active {
  background-color: var(--grey-900-dark);
}

.center-text{
  text-align: center;
}

header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: black;
  color: white;
}
nav {
  display: block;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="number"]
textarea {
  margin-top: 0.25rem;
  border-radius: 0.35rem;
  padding: 0.75rem;
  width: 21rem;
  border: 2px solid var(--grey-500);
  outline-color: var(--grey-700);
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
textarea:focus {
  background-color: var(--grey-200);
}
#brand {
  margin: 0 0.75rem;
}
#mobileMenu {
  display: none;
}
.alert {
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  width: 100%;
  color: white;
  margin: 1rem 0;
}
.alert-error {
  background-color: var(--error);
}
.alert-success {
  background-color: var(--success);
}
#voidPaymentForm > div.flex-container {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.search-bar {
  width: 100%;
}
#search-bar > .form-input {
  justify-content: space-between;
  align-items: center;
}
#search {
  width: 90%;
}
@media only screen and (max-width: 768px) {
  header {
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #mobileMenu {
    display: block;
  }
  #brand-container {
    align-items: center;
    justify-content: space-between;
  }
}
li {
  list-style: none;
}
.finance-container {
  padding: 1rem;
}
.flex-container-finance {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
}
.small-finance-text {
  color: #808080;
}
.header-finance-container {
  width: 100%;
  /* background-color: #b2beb5; */
  margin-bottom: 2rem;
  border-radius: 0.25rem;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .header-finance-container {
    flex-direction: column;
  }
  #submitFinanceButton {
    margin-top: 1rem;
    width: 100%;
  }
}
#submitFinanceButton {
  background-color: var(--success);
  font-size: 0.8rem;
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.75rem;
  text-transform: uppercase;
}
#submitFinanceButton:hover,
#submitFinanceButton:active {
  background-color: var(--success-dark);
  cursor: pointer;
  transition-duration: 0.2s;
}
.form-container {
  margin: 2rem 0;
  padding: 5rem 3rem;
  background-color: white;
  border-radius: 0.5rem;
}
.form-container-customer {
  margin: 1rem 0;
  padding: 5rem 3rem;
  background-color: white;
  border-radius: 0.5rem;
}
.invoice-item {
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
.invoice-info,
.invoice-price {
  width: 50%;
}
.invoice-info {
  padding-right: 1rem;
}
@media only screen and (max-width: 768px) {
  .invoice-item {
    flex-direction: column;
    justify-content: flex-start;
  }
  .invoice-info,
  .invoice-price {
    width: 100%;
  }
  .invoice-price {
    margin-top: 1rem;
  }
  .flex-container-finance {
    justify-content: space-between;
    padding: 1.5rem;
  }
}
.form-div-container {
  background-color: var(--grey-100);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-div-container-customer {
  background-color: var(--grey-100);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sales-container {
  background-color: #808080;
  padding: 1rem;
  min-height: 100vh;
}
.finance-item {
  width: 35%;
  height: 100%;
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  background-color: white;
  flex-direction: column;
  border-radius: 1rem;
}
#total-ar {
  background-color: white;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  padding: 0.75rem 1rem;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 3rem;
  width: 3rem;
  background-color: #d5d5d5;
  border-radius: 0.3125rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

input[type="checkbox"]:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 2.125rem;
  color: white;
  display: none;
}

input[type="checkbox"]:hover {
  background-color: #a5a5a5;
}

input[type="checkbox"]:checked {
  background-color: var(--success);
}

input[type="checkbox"]:checked:after {
  display: block;
}

.flex-button{
  margin: auto;
  width: 21rem;
  display: flex;
  justify-content: space-between;
}
.flex-button > button {
  width: 48%;
}


