{% extends "base.html" %} {% block content %}
<div class="finance-container bg-grey-100">
  <form action="/approve_payment" method="post">
    <div class="header-finance-container flex-container">
        <h1>Approve Finance</h1>
        <input type="submit" value="Approve" id="submitFinanceButton"/>
    </div>
    {% with messages = get_flashed_messages(with_categories=True) %} {% if
      messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }} fw-500 text-center">
        {{ message }}
      </div>
      {% endfor %} {% endif %} {% endwith %}
    <ul>
      {% for inv in invoices %}
      <li>
        <div class="flex-container-finance">
          <div class="invoice-item flex-container">
            <div class="invoice-info">
              <p class="text-grey-700">Invoice ID: <span class="text-black fw-600">{{ inv.inv_id }}</span></p>
              <p class="text-grey-700">Cust ID: <span class="text-black fw-600">{{ inv.cust_id }}</span></p>
              <p class="text-grey-700">Date<br> <span class="text-black fw-600">{{ inv.date }}</span></p>
              <br>
              <p class="text-grey-700">Remarks:</p>
              {% if inv.remark|length == 0 %}
              <p>{{"-"}}</p>
              {% else %}
              <p>{{inv.remark}}</p>
              {% endif %}
            </div>
            <div class="invoice-price">
              <p class="text-grey-700">Amount:</p>
              <h3 class="fw-700">Rp {{ inv.amount }}</h3>
            </div>
          </div>
          <input type="checkbox" name="{{ inv.inv_id }}" id="{{ inv.inv_id }}" id="checkmark" />
        </div>
      </li>
      {% endfor %}
    </ul>
  </form>
  </div>
  {% endblock %}
</div>
