{% extends "base.html" %} {% block content %}
<h1>{{ session.role.capitalize() }} Admin Page</h1>
<h2>Welcome, {{ session.username }}</h2>
<br />

<ul>
  {% for cust in all_cust_o %}
  <form action="/update_cust" method="post">
    <li>
      <p>{{ cust.cust_id }}</p>
      <input type="hidden" value="{{cust.cust_id}}" name="cust_id" />

      <p>{{ cust.name }}</p>
      <input type="text" value="{{cust.name}}" name="newname" />

      <p>{{ cust.address }}</p>
      <input type="text" value="{{cust.address}}" name="newaddress" />

      <p>{{ cust.phone }}</p>
      <input type="text" value="{{cust.phone}}" name="newphone" />

      <p>{{ cust.amount }}</p>
      <input type="submit" value="Edit" />
    </li>
  </form>

  <form action="/delete_cust" method="post">
    <input type="hidden" value="{{cust.cust_id}}" name="cust_id" />
    <input type="submit" value="Delete" />
  </form>
  <br />
  {% endfor %}
</ul>

<form action="/add_customer" method="POST" autocomplete="off">
  <div class="form-input">
    <label for="username">Name:</label>
    <br />
    <input
      type="text"
      name="cust_name"
      id="cust_name"
      placeholder="Enter Customer Name"
      required
    />
  </div>
  <div class="form-input">
    <label for="address">Address:</label>
    <br />
    <input
      type="text"
      name="cust_add"
      id="cust_add"
      placeholder="Enter Customer Address"
      required
    />
  </div>
  <div class="form-input">
    <label for="address">Phone:</label>
    <br />
    <input
      type="text"
      name="phone_add"
      id="phone_add"
      placeholder="Enter Customer Phone Number"
      required
    />
    <br /><br />
    <p>0-9 Only, Phone number must be 12 digits long!</p>
  </div>
  <br />
  <input type="submit" value="Add Cust" class="btn" />
</form>

{% endblock %}
