{% extends "base.html" %} {% block content %}
<div class="finance-container">
  <h1>{{ session.role.capitalize() }} Admin Page</h1>
  <h2>Welcome, {{ session.username }}</h2>
  <br />
  <div id="total-ar">
    <h3>Total Account Receivables:</h3>
    <h4>Rp {{ total_ar }}</h4>
  </div>
  <form action="/void_payment" method="post">
    <input type="submit" value="Void Payment" class="btn" />
    <ul>
      {% for inv in invoices %}
      <li>
        <div class="flex-container-finance">
          <div class="flex-item-finance">
            <p class="small-finance-text">Invoice ID:</p>
            <p class="main-finance-text">{{ inv.inv_id }}</p>
          </div>
          <div class="flex-item-finance">
            <p class="small-finance-text">Cust ID:</p>
            <p class="main-finance-text">{{ inv.cust_id }}</p>
          </div>
          <div class="flex-item-finance">
            <p class="small-finance-text">Date:</p>
            <p class="main-finance-text">{{ inv.date }}</p>
          </div>
          <div class="flex-item-finance">
            <p class="small-finance-text">Amount:</p>
            <p class="main-finance-text">{{ inv.amount }}</p>
          </div>
          <div class="flex-item-finance">
            <p class="small-finance-text">Remarks:</p>
            {% if inv.remark|length == 0 %}
            <p class="main-finance-text">{{"-"}}</p>
            {% else %}
            <p class="main-finance-text">{{inv.remark}}</p>
            {% endif %}
          </div>
          <input type="checkbox" name="{{ inv.inv_id }}" id="{{ inv.inv_id }}" id="checkmark" />
        </div>
      </li>
      {% endfor %}
    </ul>
  </form>
</div>
{% endblock %}
